<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roiril.mawarimi.tablet.test">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="34" />
    <application android:label="廻リ視 博士 機能試験" android:debuggable="true" />
    <instrumentation
        android:name=".TabletInstrumentation"
        android:label="廻リ視 博士 機能試験"
        android:targetPackage="com.roiril.mawarimi.tablet"
        android:functionalTest="true"
        android:handleProfiling="false" />
</manifest>
